<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <!-- <h1>
                    Welcome to Portal!
                </h1>
                <small>
                    Portal detailed welcome message here
                </small> -->

                <!-- <ul>
                    <li class="text" *ngFor="let user of users | async">{{user.name}}</li>
                </ul> -->
            </div>
        </div>
    </div>


    <!-- End 2nd Row Dashboard -->
    <div class="row">
        <!-- <div align="center">
            <div class="ibox-title">
                <label class="label label-success pull-right">Monthly</label>
                <h5>Income</h5>
            </div>
        </div> -->
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Score </span>
                    <h2 class="font-bold">260</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div align="center">
            <input class="input-lg" style="text-transform:uppercase;" type="text" maxlength="1" size="1">
            <input class="input-lg" style="text-transform:uppercase;" type="text" maxlength="1" size="1">
            <input class="input-lg" style="text-transform:uppercase;" type="text" maxlength="1" size="1">
            <input class="input-lg" style="text-transform:uppercase;" type="text" maxlength="1" size="1">
            <input class="input-lg" style="text-transform:uppercase;" type="text" maxlength="1" size="1">
        </div>
    </div>

    <!-- <div class="row" style="margin-top: 2%;">
        <div align="center">
            <button type="button" class="btn-lg btn-outline btn-primary">Shuffle</button>
        </div>
    </div> -->

    <div class="row" style="margin-top: 7%;margin-bottom: 3%;">
        <div align="center">
            <button class="btn btn-primary  dim btn-large-dim" type="button">A</button>
            <button class="btn btn-primary  dim btn-large-dim" type="button">B</button>
            <button class="btn btn-primary  dim btn-large-dim" type="button">C</button>
            <button class="btn btn-primary  dim btn-large-dim" type="button">D</button>
            <button class="btn btn-primary  dim btn-large-dim" type="button">E</button>
            <!-- <button type="button" class="btn-lg btn-outline btn-primary">Shuffle
                <i class="fa fa-random"></i>
            </button> -->
        </div>
    </div>

    <div class="row">
        <div align="center">
            <button type="button" class="btn-lg btn-outline btn-primary">Shuffle
                <i class="fa fa-random"></i>
            </button>
        </div>
    </div>

    <!-- End 3rd Row Dashboard -->
</div>